<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]"><br></br>
  Ship 1 Name: <input type="text" name="pirate[ships][][name]">
  Ship 1 type: <input type="text" name="pirate[ships][][type]">
  Ship 1 Booty attributes: <input type="text" name="pirate[ships][][booty_attributes]"><br></br>
  Ship 2 Name: <input type="text" name="pirate[ships][][name]">
  Ship 2 Type: <input type="text" name="pirate[ships][][type]">
  Ship 2 Booty attributes: <input type="text" name="pirate[ships][][booty_attributes]">
  <input type="submit">
</form>
